@model Medical.ViewModels.CDoctorDetailViewModel

@{
    ViewData["Title"] = "Details";
}
@section css{ 
<style>
    .det{
        float:left;
        width: 800px;
    }
    /*.col-sm-2 {
        font-weight: bold;
        font-family: Microsoft JhengHei;
    }*/
</style>
}
<h1>醫生詳細資料</h1>
<input type="hidden" id="DoctorID" name="DoctorID" value="@Model.DoctorID">
<div>    
    <hr />
    <dl class="row det">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepName)
        </dd>
        <dd class="col-sm-10" id="trtD">
           專業治療項目:
        </dd>
    </dl>
</div>
<img class="pic" src="~/images/@Html.DisplayFor(model => model.PicturePath)" width="450" height="450" />
<div>
    @*@Html.ActionLink("修改資料", "EditDetail", new { id = Model.DoctorID }) |
        @Html.ActionLink("醫師評論", "RatingDoctor", new { id = Model.DoctorID })*@ |      @*導入RatingDoctor*@
        <a asp-action="ListTest">回到醫師主頁</a>
    </div>
@section Scripts{ 
    <script>
        
        loadTrTD();
        async function loadTrTD()
        {
            const trts = await fetch('@Url.Content("~/doctor/getTreatment")' + `?dcID=${@Model.DoctorID}`).then(response => response.json());
            trts.forEach((TreatmentDetail1) => {
                    console.log(TreatmentDetail1)
                    name = TreatmentDetail1+"/"
                    document.querySelector("#trtD").innerHTML += name;
            })
                
        }        
        
    </script>
}